<h1 class="display-4 animated fadeIn animated">Summary</h1>
<hr>
<div class="container card">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-red rounded-bottom rounded-top">
                <div class="inner">
                    <h3> Alert </h3>
                    <h5>{{totalAlert}}</h5>
                </div>
                <div class="icon">
                    <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-orange rounded-bottom rounded-top">
                <div class="inner">
                    <h3> Warning </h3>
                    <h5>{{totalWarning}}</h5>
                </div>
                <div class="icon">
                    <i class="fas fa-smog" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-green rounded-bottom rounded-top">
                <div class="inner">
                    <h3> Normal </h3>
                    <h5>{{totalNormal}}</h5>
                </div>
                <div class="icon">
                    <i class="fab fa-pagelines" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container card-group mt-3">
    <div *ngFor="let device of devices">
        <div [ngSwitch]='device.AirQuality'>
            <div *ngSwitchCase='0' class=" card mt-3 border-success solid mb-3 mr-2" style="width: 15rem;">
                <div class="card-body">
                    <p class="text-center text-muted">
                        <small>{{device.LastActivity | date: 'medium'}}</small></p>
                    <h6 class="m-b-1">PL-{{device.Id}} <i class="fas fa-map-marker text-success"></i>
                        <span class="float-right mr-4">{{device.Temperature}}&deg;C</span>
                        <p class="text-left mt-2 "><span>{{device.Name}}</span> <i class="float-right fas fa-cloud-sun mr-4"></i>
                            <p class="text-left mt-2 mb-0"><span>{{device.CityId[0].Name}}</span></p>
                    </h6>
                </div>
            </div>
            <div *ngSwitchCase='1' class="card border-warning mt-3 mb-3 mr-2" style="width: 15rem;">
                <div class="card-body">
                    <p class="text-center text-muted "><small>{{device.LastActivity |  date: 'medium'}}</small></p>
                    <h6 class="m-b-1">PL-{{device.Id}} <i class="fas fa-map-marker text-warning">
                        </i>
                        <h6 class=" float-right mr-4 ">{{device.Temperature}}°C</h6>
                        <p class="text-left mt-2 "><span>{{device.Name}}</span><i class="float-right fas fa-cloud-sun mr-4 "></i>
                            <p class="text-left mt-2 mb-0 "><span>{{device.CityId[0].Name}}
                             </span></p>
                    </h6>
                </div>
            </div>
            <div *ngSwitchCase='2' class="card border-danger mt-3 mb-3 mr-2" style="width: 15rem; ">
                <div class="card-body ">
                    <p class="text-center text-muted"> <small>{{device.LastActivity | date: 'medium'}}</small></p>
                    <h6 class="m-b-1 ">PL-{{device.Id}} <i class="fas fa-map-marker text-danger"></i>
                        <h6 class="float-right mr-4 ">{{device.Temperature}}°C</h6>
                        <p class="text-left mt-2 "><span>{{device.Name}}</span> <i class="float-right fas fa-cloud-sun mr-4 h6 "></i>
                            <p class="text-left mt-2 mb-0"><span>{{device.CityId[0].Name}}</span></p>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>