<h1 class="display-4 animated fadeIn animated"> Cities <i class="fas fa-map-marker-alt"></i>
</h1>
<hr>
<label>
    <strong><i class="fas fa-globe-africa"></i> Language </strong>
        <select #langSelect (change)="changeLang(langSelect.value)">
            <option *ngFor="let lang of langs " [value]="lang">
                {{ lang }}
            </option>
        </select>
    </label>

<div className='container mt-5 animate__animated animate__fadeIn'>
    <table class="table table-striped border">
        <thead class="thead-dark">
            <tr>
                <th scope="col">{{'Name'| translate }}</th>
                <th scope="col">{{'Alert'| translate }}</th>
                <th scope="col">{{'Warning'| translate }}</th>
                <th scope="col">{{'Normal'| translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let city of cities">
                <th scope="row">{{city.Name}}</th>
                <th scope="row">{{city.AlertDevicesCount}}</th>
                <th scope="row">{{city.WarningDevicesCount}}</th>
                <th scope="row">{{city.NormalDevicesCount}}</th>
            </tr>
        </tbody>
    </table>
</div>



<!-- Implementé esto, pero lo edité
<th scope="col"><strong i18n>Name</strong></th>
<th scope="col"><strong i18n>Alert</strong></th>
<th scope="col"><strong i18n>Warning</strong></th>
<th scope="col"><strong i18n>Normal</strong></th> -->